P
{
	MARGIN-TOP:0px;
	MARGIN-BOTTOM:18px;
}

.BodyTxtSm
{
    FONT-SIZE:7.5pt;
}

A
{
    TEXT-DECORATION: none
}

A:hover
{
    COLOR:#00319c;
    TEXT-DECORATION:underline
}

A:hover.leftNavLink
{
    TEXT-DECORATION:none
}

H2
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 17px;
    FONT-WEIGHT: normal;
    COLOR: #003399;
    MARGIN-TOP:0px;
    MARGIN-BOTTOM:9px;
}

H5
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt;
    MARGIN-TOP:0px;
    MARGIN-BOTTOM:0px;
}

.BodyText
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 68%;
	LINE-HEIGHT: 15px
}
.BodyText2
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 68%;
	LINE-HEIGHT: 15px
}	
.Quote
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt;
	LINE-HEIGHT: 25px; 
	COLOR: #CC9900;
	FONT-STYLE: Italic; 
	FONT-WEIGHT: Bold
}

.LeftNavOff
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: white solid 2px;
    BORDER-LEFT: white solid 2px;
    BORDER-RIGHT: white solid 2px;
    BORDER-TOP: white solid 2px;
    COLOR: black;
    CURSOR: hand;
    FONT-FAMILY: verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 10pt;
    MARGIN: 2px 0px;
    PADDING: 0px 3px;
    TEXT-DECORATION: none;
    WIDTH: 10px
}
.LeftNavUp
{
    BACKGROUND-COLOR: #0099ff;
    BORDER-BOTTOM: #003399 solid 2px;
    BORDER-LEFT: #99ccff solid 2px;
    BORDER-RIGHT: #003399 solid 2px;
    BORDER-TOP: #99ccff solid 2px;
    COLOR: white;
    CURSOR: hand;
    FONT-FAMILY: verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    HEIGHT: 0pt;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 10pt;
    MARGIN: 2px 0px;
    PADDING: 0px 3px;
    TEXT-DECORATION: none;
    WIDTH: 10px
}
.LeftNavDown
{
    BACKGROUND-COLOR: #0099ff;
    BORDER-BOTTOM: #99ccff solid 2px;
    BORDER-LEFT: #003399 solid 2px;
    BORDER-RIGHT: #99ccff solid 2px;
    BORDER-TOP: #003399 solid 2px;
    COLOR: white;
    CURSOR: hand;
    FONT-FAMILY: verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 10pt;
    MARGIN: 2px 0px;
    PADDING: 0px 3px;
    TEXT-DECORATION: none;
    WIDTH: 10px
}
.LeftNavOn
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: #99ccff solid 2px;
    BORDER-LEFT: #003399 solid 2px;
    BORDER-RIGHT: #99ccff solid 2px;
    BORDER-TOP: #003399 solid 2px;
    COLOR: #666666;
    FONT-FAMILY: verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 10pt;
    MARGIN: 2px 0px;
    PADDING: 0px 3px;
    TEXT-DECORATION: none;
    WIDTH: 10px
}
.LeftNavChosen
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: #99ccff solid 2px;
    BORDER-LEFT: #003399 solid 2px;
    BORDER-RIGHT: #99ccff solid 2px;
    BORDER-TOP: #003399 solid 2px;
    COLOR: #000000;
    CURSOR: hand;
    FONT-FAMILY: verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 10pt;
    MARGIN: 2px 0px;
    PADDING: 0px 3px;
    TEXT-DECORATION: none;
    WIDTH: 10px
}
.leftline
{
    BORDER-LEFT: #0099FF solid 1px;
}

.Blue
{
    COLOR: #003399;
}

.coltext
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt;
    LIST-STYLE: square;
    MARGIN-LEFT: 5px;
    MARGIN-TOP: 10px
}
.linkText
{
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}

.ColoredBoxText
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 7.5pt;
	LINE-HEIGHT: 12px
}

.BodyText P, .BodyText LI
{
	MARGIN-TOP: 0px;
 	MARGIN-BOTTOM: 10px
}

.BodyText BR
{
	MARGIN-TOP: 0px;
 	MARGIN-BOTTOM: 0px
}

.BodyText UL
{
	MARGIN-TOP: 0px;
	LIST-STYLE: square;
	MARGIN-LEFT: 16px;
 	MARGIN-BOTTOM: 6px;
}

.BodyText OL
{
	MARGIN-TOP: 0px;
	MARGIN-LEFT: 16px;
 	MARGIN-BOTTOM: 6px;
}

.ColoredBoxText BR
{
	MARGIN-TOP: 0px;
 	MARGIN-BOTTOM: 0px;
}

.ColoredBoxText P
{
	MARGIN-TOP: 0px;
 	MARGIN-BOTTOM: 6px;
}

.ColoredBoxText LI
{
	MARGIN-TOP: 0px;
 	MARGIN-BOTTOM: 5px;
}

.ColoredBoxText UL
{
	MARGIN-TOP: 0px;
	LIST-STYLE: square;
	MARGIN-LEFT: 16px;
 	MARGIN-BOTTOM: 16px;
}

.Footer
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 7.5pt;
}

.Footer P
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 7.5pt;
}

.Footer BR
{
	MARGIN-TOP: 0px;
 	MARGIN-BOTTOM: 6px
}

.NavColumn
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt;
	LINE-HEIGHT: 15px
}

.NavColumn P
{
	MARGIN-TOP: 0px;
 	MARGIN-BOTTOM: 10px
}

.NavColumn UL
{
	MARGIN-TOP: 0px;
 	MARGIN-BOTTOM: 10px;
 	MARGIN-LEFT: 16px
}

.NavColumn LI
{
	LINE-HEIGHT:  16px;
}
.TableNormal
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt;
	LINE-HEIGHT: 15px
}
.TableNormal TD
{
	BORDER-BOTTOM: solid #0099FF 1px;
	PADDING-TOP: 9px;
	PADDING-BOTTOM: 9px;
	PADDING-RIGHT: 9px
}	

.TableDense
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 7.5pt;
	LINE-HEIGHT: 12px

}

.TableDense TD
{
	BORDER-BOTTOM: solid #0099FF 1px;
	PADDING-TOP: 9px;
	PADDING-BOTTOM: 9px;
	PADDING-RIGHT: 9px
}

IMG.HomeIcon
{
    BORDER-BOTTOM:medium none;
    BORDER-LEFT:medium none;
    BORDER-RIGHT:medium none;
    BORDER-TOP:medium none;
    CURSOR:hand
}
.winFamilyMenuItem
{
    BACKGROUND-COLOR:#0099ff;
    BORDER-BOTTOM:#0099ff solid thin;
    BORDER-LEFT:#0099ff solid thin;
    BORDER-RIGHT:#0099ff solid thin;
    BORDER-TOP:#0099ff solid thin;
    COLOR:white;
    CURSOR:hand;
    FONT-SIZE:8pt;
    FONT-WEIGHT:bold;
    LETTER-SPACING:-0.5pt;    
    HEIGHT:20px;
    MARGIN:1px;
    PADDING-BOTTOM:1px;
    PADDING-LEFT:1px;
    PADDING-RIGHT:1px;
    PADDING-TOP:1px;
    TEXT-DECORATION:none;
    WIDTH:193px
}
.highlightItem
{
    BACKGROUND-COLOR:#0099ff;
    BORDER-BOTTOM:#003399 solid thin;
    BORDER-LEFT:#99ccff solid thin;
    BORDER-RIGHT:#003399 solid thin;
    BORDER-TOP:#99ccff solid thin;
    COLOR:white;
    CURSOR:hand;
    FONT-SIZE:8pt;
    FONT-WEIGHT:bold;
    LETTER-SPACING:-0.5pt;    
    HEIGHT:20px;
    MARGIN:1px;
    PADDING-BOTTOM:1px;
    PADDING-LEFT:1px;
    PADDING-RIGHT:1px;
    PADDING-TOP:1px;
    TEXT-DECORATION:none;
    WIDTH:193px
}
.depressItem
{
    BACKGROUND-COLOR:#0099ff;
    BORDER-BOTTOM:#99ccff solid thin;
    BORDER-LEFT:#003399 solid thin;
    BORDER-RIGHT:#99ccff solid thin;
    BORDER-TOP:#003399 solid thin;
    COLOR:white;
    CURSOR:hand;
    FONT-SIZE:8pt;
    FONT-WEIGHT:bold;
    LETTER-SPACING:-0.5pt;    
    HEIGHT:20px;
    MARGIN:1px;
    PADDING-BOTTOM:1px;
    PADDING-LEFT:1px;
    PADDING-RIGHT:1px;
    PADDING-TOP:1px;
    TEXT-DECORATION:none;
    WIDTH:193px
}

BODY
{
    FONT-FAMILY:Verdana,Arial,Helvetica
}
A:hover
{
    COLOR:#00319c;
    TEXT-DECORATION:underline
}

A:hover.leftNavLink
{
    TEXT-DECORATION:none
}

.leftNavLink
{
	COLOR:black
}
.leftNavLinkChosen
{
	COLOR:#666666
}
